html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    width: 100vw;
    height: 100vh;
    row-gap: 5px;
}

.container__header {
    background: rgba(5, 92, 211, 0.97);
    flex: 2 1 auto;
}

.container__nav {
    background: #091462;
    flex: 1 1 auto;
}

.container__content {
    display: flex;
    flex: 10 1 auto;
    column-gap: 5px;
}

.container__content_main {
    background: #0fc4c4;
    flex: 3 1 auto;
}

.container__content_aside {
    background: #634991;
    flex: 0.5 1 auto;
}

.common {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.5px;
    color: white;
    font-size: 20px;

}

.container__footer {
    background: lightskyblue;
    flex: 1 1 auto;
}