html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px;
    width: 35vw;
    height: 100vh;
    row-gap: 20px;
}

.header, .footer {
    background: dodgerblue;
}

.header, .content {
    flex: 1 1 auto;
}

.content {
    display: flex;
    column-gap: 20px;
}

.widgets {
    background: darkblue;
    flex: 1 1 auto;
}

.header, .widgets, .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 18px;
}

.footer {
    flex: 2 1 auto;
}

